<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anabalica.github.io.meowletters" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.SplashActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="anabalica.github.io.meowletters.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.MainActivity" />
        </activity>
        <activity
            android:name=".HighscoresActivity"
            android:label="@string/title_activity_highscores"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.MainActivity" />
        </activity>
        <activity
            android:name=".GameOverActivity"
            android:label="@string/title_activity_game_over"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="anabalica.github.io.meowletters.MainActivity" />
        </activity>
    </application>

</manifest>
